{% extends "base.html" %}
{% load static %}
{% block scripts %}
        <script src="{% static 'js/login/index.js' %}"></script>
{% endblock %}
{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
                <button onclick="closeAlert(event)" type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="w-100 h-100 d-flex flex-column gap-5 justify-content-center align-items-center">
        <form action="" method="post" class="d-flex flex-column gap-4">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button class="btn btn-primary w-100" type="submit">Войти</button>
        </form>
    </div>
    
{% endblock %}
