<div class="d-flex flex-column  h-100 justify-content-stretch gap-5 m-5 border-box">
    <div onClick="window.location='/login'" class="btn btn-secondary h-100 d-flex justify-content-center align-items-center">
        Я хочу стать бегуном
    </div>
    <div class="btn btn-secondary h-100 d-flex justify-content-center align-items-center">
        Я хочу стать бегуном
    </div>
    <div class="btn btn-secondary h-100 d-flex justify-content-center align-items-center">
        Я хочу стать бегуном
    </div>
</div>