{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Maraphonk</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="d-flex h-100 flex-column">
    {% include 'main_page/../layout/header.html' %}
    <div class="m-5 d-flex h-100 flex-column">
        {% block body %}
        {% endblock %}
    </div>
 <footer class="btn-primary navbar-fixed-bottom row-fluid">
        <div class="timer d-flex align-items-center justify-content-center">
            <div class="timer__items">
                <div class="timer__item timer_">8766</div>

            </div>
        </div>
    </footer>
</div>
{% block scripts %}
{% endblock %}
</body>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            // конечная дата, например 1 июля 2021
            const deadline = new Date(new Date().getFullYear(), new Date().getMonth() + 7, 1);
            // id таймера
            let timerId = null;
            // склонение числительных
            function declensionNum(num, words) {
                return words[(num % 100 > 4 && num % 100 < 20) ? 2 : [2, 0, 1, 1, 1, 2][(num % 10 < 5) ? num % 10 : 5]];
            }
            // вычисляем разницу дат и устанавливаем оставшееся времени в качестве содержимого элементов
            function countdownTimer() {
                const diff = deadline - new Date();
                if (diff <= 0) {
                    clearInterval(timerId);
                }
                const days = diff > 0 ? Math.floor(diff / 1000 / 60 / 60 / 24) : 0;
                const hours = diff > 0 ? Math.floor(diff / 1000 / 60 / 60) % 24 : 0;
                const minutes = diff > 0 ? Math.floor(diff / 1000 / 60) % 60 : 0;
                const seconds = diff > 0 ? Math.floor(diff / 1000) % 60 : 0;
                $days.textContent = ` ${days < 10 ? '0' + days : days} ${declensionNum(days, ['день', 'дня', 'дней'])} ${hours < 10 ? '0' + hours : hours} ${declensionNum(hours, ['час', 'часа', 'часов'])} ${minutes < 10 ? '0' + minutes : minutes} ${declensionNum(minutes, ['минута', 'минуты', 'минут'])} ${seconds < 10 ? '0'+seconds:seconds} ${declensionNum(seconds, ['секунда', 'секунды', 'секунд'])} осталось до старта марафона!`;
            }
            // получаем элементы, содержащие компоненты даты
            const $days = document.querySelector('.timer_');
            // вызываем функцию countdownTimer
            countdownTimer();
            // вызываем функцию countdownTimer каждую секунду
            timerId = setInterval(countdownTimer, 1000);
        });
    </script>
</html>